[Desktop Entry]
Encoding=UTF-8
Name=Link to index.html‎ (7 KB‎)
Type=Link
URL=https://email.uni-rostock.de/owa/attachment.ashx?attach=1&id=RgAAAAD%2fIw2THBMMSqiLjAsAaPrQBwC6DX0QQzqGQKuqxWU4a7OTAAAGGNWTAAD8lKI2POSARJUnWDM6vTMeAAD06Es3AAAJ&attid0=BAAAAAAA&attcnt=1
Icon=text-html
